<section class="p-2 self-center mx-auto bg-gray-200 shadow-xs w-[80%] rounded ">

    <div class="my-2 w-[90%] mx-auto">
        <h2 class="text-green-600 text-3xl">{{'Forget password ?'| translate}}</h2>
    </div>
    <form (ngSubmit)="onVerifyEmailSubmit()" [formGroup]="emailVerifyForm()" class="w-[90%] my-5 mx-auto">
        <div class="relative z-0 w-full my-5 group">
            <input formControlName="email" type="email" name="email" id="email" class="main-input peer"
                placeholder=" " />
            <label for="email" class="main-label">{{'Email address'|translate}}</label>
        </div>
        <div class="w-full my-5 group mx-auto flex justify-end">
            <button [disabled]="isLoading()" [disabled]="emailVerifyForm().invalid" type="submit" class="btn-main">{{'verify'|translate}}
                @if(isLoading()){
                <i class="fas fa-spinner animate-spin"></i>
                }
            </button>
        </div>
    </form>
</section>